<section class="pb-5 header text-center">
    <div class="container py-5 text-black">
        <header class="py-5">
            <h1 class="tabletitle display-4">Card Table</h1>
        </header>


        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">

                        <!-- Responsive table -->
                        <div class="table-responsive">
                            <button class="btn btn-primary btn-md rounded-2" type="button" routerLink="/add" title="Add">Add New<i class="fa fa-table"></i></button>
                            <table class="table m-0">
                                <thead>
                                    <tr class="bor-top">
                                        <th scope="col">#</th>
                                        <th scope="col">Question</th>
                                        <th scope="col">Answer</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let card of FlashCardList" class="bor-bottom">
                                        <th scope="row" class="throw">{{card.id}}</th>
                                        <td>{{card.question}}</td>
                                        <td class="tddrow">{{card.answer}}</td>
                                        <td>
                                            <!-- Call to action buttons -->
                                            <ul class="list-inline m-0">
                                                <li class="list-inline-item">
                                                    <button class="btn btn-success btn-sm rounded-3" type="button" [routerLink]="['/edit', card.id]" title="Edit">Edit<i class="fa fa-edit"></i></button>
                                                </li>
                                                <li class="list-inline-item">
                                                    <button class="btn btn-danger btn-sm rounded-3" type="button" (click)="onDelete(card.id)" title="Delete">Delete<i class="fa fa-trash"></i></button>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>