.tabletitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.bor-top{
    border-bottom-width: 3px;
    border-bottom-color: black;
}
.bor-bottom{
    border-bottom-width: 3px;
    border-bottom-color: black;
}
.throw{
    border-right-width: 3px;
    border-bottom-color: black;
}
.tddrow{
    border-right-width: 3px;
    border-left-width: 3px;
    border-bottom-color: black;
}