<div class="container">
    <div class="row flip-boxes">
      <div class="col-md-3 col-sm-4 col-8 flip-box">
        <div class="front" style="background-image: url(https://img.pikbest.com/backgrounds/20200327/brushed-metal-texture-business-simple-gray-business-card-background_2755193.jpg!bw700?auto=compress&cs=tinysrgb&h=350);">
          <div class="content text-center">
            First<br>
            <span class="click-for-more">
            </span>
          </div>
        </div>
        <div class="back">
          <div class="content">
            First Back
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-8 flip-box">
        <div class="front" style="background-image: url(https://img.pikbest.com/backgrounds/20200327/brushed-metal-texture-business-simple-gray-business-card-background_2755193.jpg!bw700?auto=compress&cs=tinysrgb&h=350);">
          <div class="content text-center">
            First<br>
            <span class="click-for-more">
            </span>
          </div>
        </div>
        <div class="back">
          <div class="content">
            First Back
          </div>
        </div>
      </div>
    </div>
  </div>
