<div class="container">
  <div *ngFor="let card of FlashCardList">
    <div class="row flip-boxes">
      <div class="col-md-3 col-sm-4 col-8 flip-box">
        <div class="front" style="background-image: url(https://img.pikbest.com/backgrounds/20200327/brushed-metal-texture-business-simple-gray-business-card-background_2755193.jpg!bw700?auto=compress&cs=tinysrgb&h=350);">
          <div class="content text-center">
            {{card.question}}
          </div>
        </div>
        <div class="back">
          <div class="content">
            {{card.answer}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>